/* Vars */
:root {
    --drakeDark: #12232e;
    --drakeLight: #203547;
    --skyDark: #007cc7;
    --skyLight: #4da8da;
    --fontLight: #eedbdb;
    --fontDark: #313131;
}
/* responsive font Var */
:root {
    --base-font-size: 4px;
    --fluid-typography-ratio: 0.825;

    --rem: calc(var(--base-font-size) + var(--fluid-typography-ratio) * 1vw);

    font-size: var(--rem);
}

/* Offcanvas Vars */
:root {
    --offcanvas-width: 270px;
    --topNavBarHeight: 68px;
}

/*Google Font import "Sora"*/
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500&display=swap");

/* start here */
/* Scroll Bar */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    background-color: #f9f2f2;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #f9f2f2;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.21);
    background-color: #555;
}
/* body */
.bgdrake {
    background-color: var(--drakeDark);
}
.bg-content {
    background-color: var(--drakeLight);
}
.bg-content-l {
    background-color: var(--fontLight);
}
.lightfont {
    color: var(--fontLight);
}
.darkfont {
    color: var(--fontDark);
}
body {
    font-family: "Sora", sans-serif;
    color: var(--fontLight);
}

.bg-flip {
    background-color: var(--drakeDark);
    background-image: url(../images/page-turner.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 270px;
}
/* ............................................... */

/* navbar */
.dark-nav {
    background-color: var(--drakeDark);
    box-shadow: 2px 2px #223546b4;
    max-height: 68px;
}
.navbar-nav > li > a {
    text-decoration: none;
}
.nav-btn {
    background-color: var(--drakeDark);
    color: var(--fontLight);
    border: var(--drakeLight) solid;
}

/* ............................. */

/* header/Hero */
.hero-img {
    padding: 2rem;
}
.hero-image img {
    box-shadow: 5px 10px #007bc796;
    border-radius: 15% 25%;
    width: 550px;
}
.hero-text {
    padding: 4rem 3rem 2rem 3rem;
}
.hero-text > h1 {
    margin-bottom: 2rem;
}
.hero-text > p {
    line-height: 1.7rem;
    text-align: justify;
    margin-bottom: 3rem;
}
.primary-btn {
    background-color: var(--skyDark);
    color: var(--fontLight);
}
.login-frm-bg {
    background-color: var(--skyDark);
}
.link-a {
    color: var(--fontLight);
    text-decoration: none;
}
.link-a:hover {
    color: var(--drakeLight);
}

/* Media queries */
@media (max-width: 991px) {
    .bg-flip {
        background-size: 275px;
    }
    .hero-image img {
        width: 300px;
    }
    .collapse > ul {
        margin-top: 10px;
    }
    .navbar-nav > li > a {
        border-style: solid;
        padding: 1.2rem;
        margin-top: 0.6rem;
        margin-bottom: 0.6rem;
        border-width: 0.01px;
        border-color: var(--fontLight);
        text-decoration: none;
    }
    .nav-btn-login {
        padding: 1.2rem;
        background-color: var(--skyLight);
    }
}

@media (max-width: 577px) {
    .bg-flip {
        background-size: 125px;
    }
    .nav-brand img {
        width: 120px;
        max-height: 60px;
    }
    .hero-image img {
        width: 200px;
    }
}

/* Sidebar Offcanvas Dash */
.sidebar-nav {
    width: var(--offcanvas-width);
}

@media (min-width: 992px) {
    .bgdrake {
        overflow: auto !important;
    }
    .offcanvas-backdrop::before {
        display: none;
    }
    .sidebar-nav {
        transform: none;
        visibility: visible !important;
        top: var(--topNavBarHeight);
        height: calc(100% - var(--topNavBarHeight));
    }
    .mainContent {
        margin-left: var(--offcanvas-width);
    }
}

.htitle {
    margin: 2rem 0;
    text-transform: uppercase;
    text-align: center;
}
.create-frm {
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    background-color: rgba(0, 123, 199, 0.3);
    overflow: hidden;
    position: relative;
    height: 100%;
}
/* Cards */
.postcard {
    flex-wrap: wrap;
    display: flex;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;
}
.dark {
    background: var(--drakeLight);
}
.postcard a {
    color: inherit;
}
.postcard h1,
.postcard .h1 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.postcard .small {
    font-size: 80%;
}
.postcard .postcard__title {
    font-size: 1.75rem;
}
.postcard .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
}
.postcard .postcard__img_link {
    display: contents;
}
.postcard .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
}
.postcard .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
}
.postcard .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
}
.postcard .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    margin: 20px 0 0 0;
    padding: 0;
    justify-content: center;
}
.postcard .postcard__tagbox .tag__item {
    display: inline-block;
    background: rgba(83, 83, 83, 0.4);
    border-radius: 3px;
    padding: 2.5px 10px;
    margin: 0 5px 5px 0;
    cursor: default;
    user-select: none;
    transition: background-color 0.3s;
}
.postcard .postcard__tagbox .tag__item:hover {
    background: rgba(83, 83, 83, 0.8);
}
.postcard:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
}
.postcard:hover .postcard__bar {
    width: 100px;
}
.postcard.dark .postcard__text:before {
    background: var(--drakeDark);
}
section > .primary-btn {
    text-align: center;
}
.blue .postcard__title:hover {
    color: #0076bd;
}
.blue .postcard__bar {
    background-color: #0076bd;
}
.blue::before {
    background-image: linear-gradient(
        -30deg,
        rgba(0, 118, 189, 0.1),
        transparent 50%
    );
}
@media screen and (min-width: 769px) {
    .postcard {
        flex-wrap: inherit;
    }

    .postcard .postcard__tagbox {
        justify-content: start;
    }
    .postcard .postcard__img {
        max-width: 300px;
        max-height: 100%;
        transition: transform 0.3s ease;
    }
    .postcard .postcard__text {
        padding: 3rem;
        width: 100%;
    }
    .postcard .media.postcard__text:before {
        content: "";
        position: absolute;
        display: block;
        background: #18151f;
        top: -20%;
        height: 130%;
        width: 55px;
    }
    .postcard:hover .postcard__img {
        transform: scale(1.1);
    }
    .postcard:nth-child(2n + 1) {
        flex-direction: row;
    }
    .postcard:nth-child(2n + 0) {
        flex-direction: row-reverse;
    }
    .postcard:nth-child(2n + 1) .postcard__text::before {
        left: -12px !important;
        transform: rotate(4deg);
    }
    .postcard:nth-child(2n + 0) .postcard__text::before {
        right: -12px !important;
        transform: rotate(-4deg);
    }
}
@media screen and (min-width: 992px) {
    .postcard__text {
        padding: 2rem 3.5rem;
    }
    .postcard__text:before {
        content: "";
        position: absolute;
        display: block;
        top: -20%;
        height: 130%;
        width: 55px;
    }
}

.img-thumbnail {
    width: 20rem;
    height: 13rem;
    object-fit: cover;
}

.custom-file-button input[type="file"] {
    margin-left: -2px !important;
}

.custom-file-button input[type="file"]::-webkit-file-upload-button {
    display: none;
}

.custom-file-button input[type="file"]::file-selector-button {
    display: none;
}

.custom-file-button:hover label {
    background-color: #ffffff;
    cursor: pointer;
}

.row {
    overflow: hidden;
}

.toggle_bar {
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    width: 70px;
    display: block;
    height: 30px;
    position: relative;
    overflow: hidden;
    margin: 1em auto;
    border-radius: 4px;
    cursor: pointer;
}
.toggle_bar .toggle_square {
    border-radius: 4px;
    transition: left 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55),
        background 0.2s ease;
    background: #da4453;
    display: block;
    position: absolute;
    top: 0;
    left: 40px;
    width: 30px;
    height: 100%;
    border: 1px solid transparent;
    box-shadow: 0 4px 16px 8px rgba(0, 0, 0, 0.15);
}
.toggle_bar .toggle_square:before {
    content: "×";
    display: block;
    color: white;
    will-change: content;
    transition: content 0.2s ease;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
}

.contract_toggle input[type="checkbox"] {
    display: none;
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.contract_toggle input[type="checkbox"]:checked ~ .toggle_bar .toggle_square {
    background: #37bc9b;
    left: 0;
}
.contract_toggle
    input[type="checkbox"]:checked
    ~ .toggle_bar
    .toggle_square:before {
    content: "✓";
}
/**
 * Profile image component
 */
.profile-header-container {
    margin: 0 auto;
    text-align: center;
}

.profile-header-img > img.img-circle {
    width: 120px;
    height: 120px;
    border: 2px solid #51d2b7;
    border-radius: 50%;
    object-fit: cover;
}

/**
 * Ranking component
 */
.rank-label-container {
    margin-top: -19px;
    /* z-index: 1000; */
    text-align: center;
}

.label.label-default.rank-label {
    background-color: rgb(81, 210, 183);
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
}
